In [1]:
import src.service.get_data as av
import src.model.SplitData as sd
import src.model.WindowGenerator as wg

In [2]:
API_KEY = "trial"
alpha_vantage = av.AlphaVantageAPI(API_KEY)
df = alpha_vantage.get_weekly_stock_prices("AAPL")

In [3]:
split_data = sd.SplitData(df)
split_data.train_df

                open      high       low     close    volume
1999-11-12 -0.474965 -0.436200 -0.461892 -0.459610 -0.387640
1999-11-19 -0.463953 -0.453300 -0.454010 -0.448911 -0.440461
1999-11-26 -0.451410 -0.448997 -0.451363 -0.433509 -0.457769
1999-12-03 -0.436689 -0.333886 -0.422784 -0.316291 -0.377702
1999-12-10 -0.317089 -0.319884 -0.388188 -0.386833 -0.390369
...              ...       ...       ...       ...       ...
2017-06-16 -0.133478 -0.150604 -0.128269 -0.155983  0.449826
2017-06-23 -0.145727 -0.152555 -0.119484 -0.132410  0.032564
2017-06-30 -0.125057 -0.146128 -0.127787 -0.145696  0.048118
2017-07-07 -0.138543 -0.163228 -0.127005 -0.144755 -0.163835
2017-07-14 -0.143077 -0.140103 -0.121229 -0.116185 -0.028348

[923 rows x 5 columns]

In [4]:
df.tail()

              open    high     low   close       volume
2025-01-24  224.00  227.03  219.38  222.78  277129596.0
2025-01-31  224.02  247.19  223.98  236.00  372790494.0
2025-02-07  229.99  234.00  225.70  227.63  227428164.0
2025-02-14  229.57  245.55  227.20  244.60  226587580.0
2025-02-21  244.15  248.69  241.84  245.55  166541044.0

In [6]:
window = wg.WindowGenerator(input_width=120, label_width=1, shift=1,split_data=split_data, label_columns=['close'])
window

Total window size: 121
Input indices: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119]
Label indices: [120]
Label column name(s): ['close']